<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<nav>
		<li><a href="/">Home</a></li>
		<li><a href="/login">login</a></li>
		<li><a href="/signup">Create account</a></li>
		<li><a href="/blogs/new">Blogs</a></li>
	</nav>

		<form action="/logout" method='post'>
			<input type="submit" value="Logout">
		</form>

		<div>
		<% if current_bloger %>
			<%= current_bloger.username  %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>