<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<img class="logo" src="http://cdn7.bigcommerce.com/s-6nkfm4z5/images/stencil/500x659/products/153/357/Copper_Columbine_Pink_12x9__14609.1390846282.jpg?c=2" alt="logo" height="100px">
<h1>Gardening Blog</h1>

	<nav>
		<li><a href="/">Home</a></li>
		<li><a href="/login">login</a></li>
		<li><a href="/signup">Create account</a></li>
		<li><a href="/blogs/new">Blogs</a></li>
		<li><a href="/users/edit">Edit user</a></li>

	</nav>


		<div>
		<% if current_user %>
			<%= current_user.username  %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>
