<<<<<<< HEAD
<h1>All users</h1>
<% @users.each_with_index do |u,i|%>
<div><%= i + 1 %> <%= u.username %></div>
<% end %>
=======
<h2>All users:</h2>
<% @users.each_with_index do |u, i| %>
<div><%= i + 1 %> <%= u.username %></div>
<% end %>
>>>>>>> 149f1dd39b0c0b3c82f90e3755fcd13bb801ca17
