<h2>Create a new user:</h2>

<form action="/create" method="post">
	Create Username:<input type="text" name="username"><br>
	Create Password:<input type="text" name="password"><br>
	<input type="submit" value="Create user">
</form>